
div.form-grid{
  div.content-cell{
    margin-top:25px;
    background-color:#fff;
    padding:16px;

    input[type='text']{
      background-color: transparent;
      border: none;
      border-bottom:1px solid lightgray;
      box-shadow:none;
      transition: border-bottom 0.25s ease-in;
      &:focus{
        border-bottom: 2px solid darkgray;
      }
    }
  }
}

