*{
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:"Roboto Slab", Serif;
}

//grid helper classes
div.cell{
  &.raised {
    background-color: #fff;

  }
  &.taller {
    height: 250px;
  }
  &.relative{
    position:relative;
  }
}

div.bottom-buttons {
  display:flex;
  position:absolute;
  justify-content:space-between;
  left:0;
  right:0;
  bottom:0;
  form{
    display:none;
  }
  a{
    width:100%;
    font-size:14px;
    text-align:center;
    color:#fff;
    background-color:$navy;
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
    &:hover{
      background-color:$navyish;
      color:$orange;
    }
  }
}

//Slider
div#slider{
  background-color:#fff;
  padding:16px;
}

div.image-dropzone{
  width:100%;
  border:3px dashed $navyish;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:250px;
}