div.projects-index {
  padding: 0px 32px;
  div.project-cell{
    color:white;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s linear;
}
.slide-fade-leave-active {
  transition: all .5s linear;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}