div.projects-index {
  padding: 0px 32px;
  div.project-cell{
    color:white;
  }
}

div.project-show{
  div.taller{
    height:20vh;
  }
  div.project-show-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    & *{
      color:white;
    }
  }
}
